@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #24b6b7;
  --secondary: #2ed1d1;
  --quaternary: #92dbdb;
  --text: #000000;
  --text-light: #525356;
  --text-soft: #9a9b9d;
  --text-button: #ffffff;
  --primary-background: #f5f5f5;
  --primary-foreground: #ffffff;
  --secondary-background: #ffffff;
  --tertiary-background: #fafafa;
  --loading-background: #e1e1e1;
  --form-label: #333333;
  --icon: #343a40;
  --unactive-line: #b3b3b3;
  --search-bar: #f0f0f0;
  --anki-card: #ffffff;
  --anki-hightlight: #f5f5f5;
  --anki-text: #000000;
  --anki-text-hightlight: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffbade;
    --secondary: #e5a0c4;
    --quaternary: #805d6f;
    --text: #ffffff;
    --text-light: #fefefe;
    --text-soft: #bfbfbf;
    --text-button: #000000;
    --primary-background: #2b2a3b;
    --primary-foreground: #201f31;
    --secondary-background: #2d2b44;
    --tertiary-background: #2a2a2a;
    --loading-background: #32304a;
    --form-label: #969596;
    --icon: #ffbade;
    --unactive-line: #ffbade;
    --search-bar: #403f4f;
    --anki-card: #201f31;
    --anki-hightlight: #2b2a3b;
    --anki-text: #ffffff;
    --anki-text-hightlight: #ffbade;
  }
}
